<div class="mt-5 mb-5">
    <h2 class="d-flex justify-content-center fw-bold">@Title</h2>
    <div class="d-flex justify-content-center mt-3">
        <ul class="list-group gap-1 w-75" role="list">
            @ChildContent
        </ul>
    </div>
</div>