<div class="mt-5 mb-5">
    <h2 class="d-flex justify-content-center">Education</h2>
    <div class="d-flex justify-content-center">
        <ol class="list-group w-75">
            <li class="list-group-item">
                High School
                <ul>
                    <li>Kenosha Unified, Kenosha WI</li>
                    <li>Graduation with Diploma December 2002</li>
                </ul>
            </li>
        </ol>
    </div>
</div>