<li class="list-group-item border rounded mb-2" role="listitem">
    @Title
    <ul role="list">
        @foreach(var item in List) {
            <li role="listitem">@item</li>
        }
    </ul>
</li>
