<li class="list-group-item border">
    @Title
    <ul>
        @foreach(var item in List) {
            <li>@item</li>
        }
    </ul>
</li>

@code {
    [Parameter]
    public List<string> List { get; set; } = new();

    [Parameter]
    public string Title { get; set; } = string.Empty;
}