<div class="d-flex justify-content-between mb-5 mb-lg-0">
    <img src="@Image" class="faceImg rounded" title="@ImageTitle" role="img"/>
    <div class="d-inline-flex list-group justify-content-start">
        <ul class="list-group mb-1" role="list">
            <li class="email list-group-item" role="listitem">@Email</li>
        </ul>
        <ul class="list-group mb-1" role="list">
            <li class="list-group-item" role="listitem">
                @Address1
                <br />
                @Address2
            </li>
        </ul>
        <ul class="list-group mb-1" role="list">
            <li class="list-group-item" role="listitem">
                <a href="@LinkedIn" role="link">LinkedIn</a>
            </li>
        </ul>
    </div>
</div>
