<div class="d-flex justify-content-between mb-5 mb-lg-0">
    <img src="@Image" class="faceImg rounded" title="@Title" />
    <div class="d-inline-flex list-group justify-content-start">
        <ul class="list-group">
            <li class="email list-group-item">@Email</li>
        </ul>
        <ul class="list-group border-0">
            <li class="list-group-item">
                @Address1
                <br />
                @Address2
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="@LinkedIn">LinkedIn</a>
            </li>
        </ul>
    </div>
</div>