<link href="/css/SiteCSS/Resume.css" rel="stylesheet" />
<div class="d-flex justify-content-between">
    <img src="/image/face.jpg" class="faceImg rounded" title="face" />
    <div class="d-inline-flex list-group justify-content-start">
        <ul class="list-group">
            <li class="email list-group-item">jensen_305@yahoo.com</li>
        </ul>
        <ul class="list-group border-0">
            <li class="list-group-item">
                335 Clover Ave Apt #6
                <br />
                Cookeville TN 38501
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://linkedin.com/in/circleworks/">LinkedIn</a>

            </li>
        </ul>
    </div>
</div>