<div class="mt-5 d-block">
    <h2 class="d-flex justify-content-center">Summary of Qualifications</h2>
    <div class="d-flex justify-content-center">
        <ul>
            <li>Strong technical aptitude with exceptional talent in training and personal development.</li>
            <li>Outstanding interpersonal and communication skills with ability to listen and respond appropriately to technical questions.</li>
            <li>Ability to function effectively as a team player as well as individually to achieve objectives.</li>
            <li>Very efficient individual who is able to meet and exceed deadlines while also maintaining a very high level of work quality.</li>
            <li>Types at a rate of over 60 words per minute while maintaining a high level of accuracy.</li>
            <li>Possesses a great imagination that allows for the development and implementation of alternate and more efficient solutions.</li>
            <li>Focused on WCAG 2.1 compliance</li>
        </ul>
    </div>
</div>