<div class="mt-5">
    <h2 class="d-flex justify-content-center">Skills</h2>
    <div class="d-flex justify-content-center">
        <div class="d-lg-inline gap-3 d-flex align-items-start">
            <ListGroup List="@LanguageSkills" />
            <ListGroup List="@PrimarySkills" />
            <ListGroup List="@SecondarySkills" />
        </div>
    </div>
</div>