<div class="mt-5">
    <h2 class="d-flex justify-content-center">Skills</h2>
    <div class="d-flex justify-content-center">
        <div>
            <ListGroup List="@PrimarySkills" />
            <ListGroup List="@SecondarySkills" />
        </div>
    </div>
</div>