<div class="mt-5">
    <h2 class="d-flex justify-content-center">Experience</h2>
    <div class="d-flex justify-content-center">
        <ol class="list-group gap-1 w-75">
            <li class="list-group-item border">
                <a href="https://www.saic.com/">
                    SAIC Technology Integration Gateway
                </a>
                <ul>
                    <li>July 22 2022</li>
                    <li>Associate Software Engineer</li>
                    <li>Develop an internal project using Blazor, Azure Dev-Ops, MS SQL, .NET Framework, and Unit Tests</li>
                </ul>
            </li>
            <li class="list-group-item border">
                Taurus Media LLC
                <ul>
                    <li>January 12 2015 - July 22 2022</li>
                    <li>Java Software Developer</li>
                    <li>Developed internal protoype applications not released to the public</li>
                </ul>
            </li>
            <li class="list-group-item border">
                <a href="https://spritecreator.itch.io/spritecreator3">Sprite Creator By CircleWorks</a>

                <ul>
                    <li>August 1 2011 - July 22 2022</li>
                    <li>Computer Programmer, UI Designer, Java/C#/JavaScript Developer, Unity3D Developer, Customer Service</li>
                    <li>SpriteCreator3 VX Released for free on Sept 2011 in Java.</li>
                    <li>SpriteCreator3 XP Released for free on Dec 2011 in Java.</li>
                    <li>SpriteCreator3 LPC Released for free on Aug 2018 in Unity3D C#.</li>
                    <li>Dice Released on itch.io for sale and free browser WebGL June 2021.</li>
                    <li>SpriteCreator3 VX, XP, LPC All in One Released on itch.io for sale Aug 2021.</li>
                </ul>
            </li>
            <li class="list-group-item border">
                Amazon
                <ul>
                    <li>September 2017 - January 2018</li>
                    <li>Ambassador, Manager, Pace Coach, Trainer</li>
                    <li>#1 for my department across all shifts for 3 months.</li>
                </ul>
            </li>
            <li class="list-group-item border">
                Computer Technician
                <ul>
                    <li>Febuary 2012 - September 2015</li>
                    <li>Computer and Electronics Repair</li>
                    <li>Repaired computers and electronics for customers in the local area of Twin Lakes WI.</li>
                </ul>
            </li>
            <li class="list-group-item border">
                Wal-Mart
                <ul>
                    <li>January 2012 - October 2017</li>
                    <li>Inventory Control Specialist</li>
                    <li>Customer service, Machine Operator, Trainer, Backroom</li>
                    <li>Multiple Associate of the Month awards.</li>
                </ul>
            </li>
        </ol>
    </div>
</div>