@page "/about"
<PageTitle>About</PageTitle>
<div class="d-lg-flex d-md-inline d-sm-inline gap-lg-5 justify-content-center">
    <div class="col-lg-3 col-sm-12">
        <div class="d-flex align-items-center flex-column">
            <h1>About Me</h1>
            <p>
                I started programming when I was 13. I am self taught using books, reading API Docs, and youtube videos. 
                My first language was QBASIC where I created simple programs and edited programs already created by others.
                I moved to C/C++ using Allegro to build games when I was 16 and have created 3 games in c++. 
                I learned Java by building the first iteration of Sprite Creator 3 and I later recreated it with Unity3D. 
                I have created online Server/Client games using NodeJS/JavaScript and Unity3D with MongoDB storage and 
                account creation with email varification and credential validation.
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="d-flex align-items-center flex-column">
            <h1>Languages</h1>
            <p>
                C/C++, C#, Java, JavaScript, HTML, CSS
                This page was created using Blazor .NET Framework and Bootstrap 5
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="d-flex align-items-center flex-column">
            <h1>Technologies</h1>
            <p>
                Azure DevOps, Microsoft SQL Server, Visual Studio, Visual Studio Code, Unity3D, MongoDB, MySQL, Bcrypt, NodeJS
            </p>
        </div>
    </div>
</div>