@page "/about"
<PageTitle>About</PageTitle>
<div class="d-lg-flex d-md-inline d-sm-inline gap-lg-5 justify-content-center">
    <div class="col-lg-3 col-sm-12">
        <div class="d-flex align-items-center flex-column">
            <h1>About Me</h1>
            <div>
                <p>
                    Self taught programmer using books, stackoverflow, API Docs, and youtube videos.
                    My first language was QBASIC creating simple programs and giving more lives in Nibbles and Gorillas.
                    Using Allegro and the C/C++ games became my passion at 16.
                </p>
                <p>
                    Java was a learning project leveraging Swing to create GUI applications. Unity3D and NodeJS Server/Client
                    games became my passion and technologies like MongoDB and Bcrypt were leaned.
                    Server validation, Input Validation, Credential validation, Session Validation, Account creation, Email varification,
                    Credential validation, State Machines, Rollback, History, Real-Time Physics.
                </p>
                <p>
                    I released my first application August 1 2013 called Sprite Creator 3. It was a free to use and share application that was
                    created using Java Swing. It started as a learning Java project that later was recreated with Unity3D. Sprite Creator 3 has over
                    300k downloads in 100+ countries as the free version using Java. The recreated Unity3D version was put on itch.io for purchase.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="d-flex align-items-center flex-column">
            <h1>Languages</h1>
            <p>
                C/C++, C#, Java, JavaScript, HTML, CSS, SQL
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="d-flex align-items-center flex-column">
            <h1>Technologies</h1>
            <p>
                Azure DevOps, Microsoft SQL Server, Visual Studio, Rider, Unity3D, MongoDB, NodeJS
            </p>
        </div>
    </div>
</div>