@page "/about"
<PageTitle>About</PageTitle>
<h1>About</h1>
<div class="d-flex justify-contents-center align-items-center flex-column">
        <p>My name is Brian Jensen with 20 years programming expirence using C/C++, C#, Java with Swing, JavaScript with NodeJS, Unity3D Game Engine, HTML, and CSS</p>
        <br /><p>This page was created using Blazor .NET Framwork and Bootstrap 5</p>
</div>