@page "/contactme"
<PageTitle>Contact Me</PageTitle>

<div class="container w-25 text-center p-3">
    <h3>Contact Me</h3>
    <form target="_blank" action="https://formsubmit.co/e8b687c7d61729756583878447522e19" method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="col p-1">
                    <input type="text" name="name" class="form-control" placeholder="Name" required />
                </div>
                <div class="col p-1">
                    <input type="email" name="email" class="form-control" placeholder="Email" label required />
                </div>
            </div>
        </div>

        <div class="form-group p-1">
            <input type="hidden" name="_captcha" value="false" />
            <input type="text" name="_honey" style="display:none" />
            <textarea placeholder="Message" class="form-control" name="message" rows="2" required />
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Send</button>
    </form>
</div>
